[Unit]

[Service]
User=${USER}
EnvironmentFile=/etc/.current_proxy
ExecStart=/usr/bin/sing-box run -D /home/megahomyak/.config/sing-box/${CONFIG_NAME}

[Install]
WantedBy=multi-user.target
